.markdown-container code {
  border: 1px solid #CCCCCC;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
}

.markdown-container del {
  background-color: #000000;
  text-decoration-line: 'line-through';
}

.markdown-container em {
  font-style: 'italic';
}

.markdown-container h1 {
  font-size: 32px;
}
.markdown-container h2 {
  font-size: 24px;
}
.markdown-container h3 {
  font-size: 18px;
}
.markdown-container h4 {
  font-size: 16px;
}
.markdown-container h5 {
  font-size: 13px;
}
.markdown-container h6 {
  font-size: 11px;
}
.markdown-container hr {
  background-color: #000000;
  height: 1px;
}
.markdown-container blockquote {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
  background-color: #CCCCCC;
}
.markdown-container li {
  flex: 1;
  flex-wrap: 'wrap';
}
.markdown-container p {
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: 'wrap';
  flex-direction: 'row';
  align-items: 'flex-start';
  justify-content: 'flex-start';
}
.markdown-container br {
  width: 100%;
  height: 1px;
}
.markdown-container strong {
  font-weight: 'bold';
}
.markdown-container table {
  border: 1px solid #000000;
  border-radius: 3px;
}
.markdown-container thead td {
  flex: 1;
  padding: 5px;
}
.markdown-container tr {
  flex-direction: 'row';
}
.markdown-container tr td {
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #000000;
  flex: 1;
  padding: 5px;
}
.markdown-container a {
  text-decoration-line: 'underline';
}
.markdown-container u {
  border-style: solid;
  border-color: #000000;
  border-bottom-width: 1px;
}
.markdown-container img {
  flex: 1;
}
